<% if resource.errors.any? %>
  <div id="error_explanation" data-turbo-cache="false">
    <ul class="err-list">
      <% resource.errors.full_messages.each do |message| %>
        <li class="err-list__item"><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
