@import "_basic";
@import "_mixin";

/* main wrap */
.main {
  padding: 50px 0;
}

/* エラーメッセージ */
.err-list {
  background-color: #e41c21;
  font-size: 1.4rem;
  text-align: center;
  padding: 1em 0;
  &__item {
    color: #fff;
  }
}

/* アラートメッセージ */
.alert-msg {
  background-color: #e41c21;
  color: #fff;
  font-size: 1.2rem;
  text-align: center;
  padding: 0.5em 0;
}

/* フラッシュメッセージ */
.notice-msg {
  background-color: #4cae54;
  color: #fff;
  font-size: 1.2rem;
  text-align: center;
  padding: 0.5em 0;
}

/* ヘッダー */
.header {
  background-color: $color-blue;
  &__inner {
    justify-content: space-between;
    align-items: center;
  }
  &__logo {
    width: 200px;
  }
  &-nav {
    font-size: 1.4rem;
    column-gap: 40px;
    &__link {
      color: #fff;
      position: relative;
      &.current {
        background-color: #0d7cd5;
      }
      &:not(:last-child) {
        &::after {
          @include set-pseudo("ico_site01.webp", 20px, 20px);
          top: initial;
          right: -20px;
          bottom: 1px;
        }
      }
      &:last-child {
        &::before {
          @include set-pseudo("ico_site02.webp", 15px, 25px);
          top: initial;
          left: -17px;
          bottom: -6px;
        }
      }
    }
  }
}

/* ページネーション */
.pagination {
  font-size: 1.4rem;
  & > span {
    @include set-border(1px, solid, #f4f4f4);
    padding: 0.3em 0.8em;
    &.current {
      background-color: $color-blue;
      color: #fff;
    }
    a {
      color: $color-blue;
    }
  }
}

/* root画面 */
.index {
  &__logo {
    width: 350px;
    margin: 0 auto;
  }
  &__btns {
    justify-content: center;
    margin-top: 50px;
    column-gap: 20px;
  }
  &__btn {
    font-size: 1.4rem;
    background-color: $color-blue;
    color: #fff;
    width: 150px;
    text-align: center;
    padding: 0.5em 0;
    border-radius: 5px;
    font-weight: bold;
    transition: all 0.3s;
    &:hover {
      opacity: 0.8;
    }
  }
}

/* ログイン＆登録画面 */
.auth-form {
  margin-top: 20px;
  &-wrap {
    max-width: 550px;
    margin: 0 auto;
  }
  &__logo {
    width: 350px;
    margin: 0 auto;
  }
  &__heading {
    background-color: #f5f5f5;
    font-size: 2rem;
    padding: 0.2em 0;
    text-align: center;
  }
  &__item {
    margin-top: 15px;
  }
  &__label {
    font-size: 1.4rem;
    font-weight: bold;
  }
  &__input {
    width: 100%;
    font-size: 1.6rem;
    padding: 0 0.5em;
  }
  &__check {
    vertical-align: sub;
  }
  &__submit {
    background-color: $color-blue;
    color: #fff;
    font-size: 1.4rem;
    border: none;
    font-weight: bold;
    width: 200px;
    margin: 0 auto;
    display: block;
    padding: 0.5em 0;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
    &:hover {
      opacity: 0.8;
    }
  }
  &__links {
    margin-top: 20px;
  }
  &__link {
    font-size: 1.4rem;
    text-decoration: underline;
    width: fit-content;
    margin: 0 auto;
  }
}

/* ベーシックヘッディング */
.basic-heading {
  font-size: 1.8rem;
  color: $color-blue;
  background-color: #f5f5f5;
  padding: 0.3em 0.5em;
  border-radius: 5px;
}

/* 検索エリア */
.search-area {
  @include set-border(1px, solid, #f4f4f4);
  margin-top: 15px;
  border-radius: 5px;
  &__heading {
    font-size: 1.8rem;
    background-color: #f5f5f5;
    padding: 0.3em 0.5em;
    border-radius: 5px 5px 0 0;
  }
}

/* 検索フォーム */
.search-form {
  column-gap: 25px;
  align-items: center;
  padding: 20px 10px;
  &__label {
    font-size: 1.2rem;
    font-weight: bold;
  }
  &__input {
    font-size: 1.4rem;
    padding: 0 0.5em;
  }
  &__check {
    vertical-align: sub;
  }
  &__submit {
    @include set-border(2px, solid, #f4f4f4);
    background-color: transparent;
    width: 100px;
    cursor: pointer;
    &-wrap {
      font-size: 1.4rem;
      position: relative;
      &::before {
        @include set-pseudo("ico_site04.webp", 20px, 15px);
        left: 1.5em;
      }
    }
  }
}

/* 受注一覧画面 */
.receiving {
  margin-top: 15px;
  &-head {
    &--upper {
      justify-content: space-between;
      align-items: center;
    }
    &--lower {
      margin-top: 15px;
      justify-content: space-between;
      align-items: center;
    }
  }
  &__btn {
    background-color: $color-blue;
    color: #fff;
    font-size: 1.4rem;
    text-align: center;
    padding: 0.3em 0;
    position: relative;
    width: 135px;
    &::before {
      @include set-pseudo("ico_site03.webp", 15px, 15px);
      @include set-top-pos(17px);
      left: 17px;
    }
  }
  &__number {
    background-color: #bab9bb;
    color: #fff;
    font-size: 1.2rem;
    padding: 0.1em 1em;
    border-radius: 100vh;
  }
  &__total {
    color: #7d7c7c;
    font-weight: bold;
    font-size: 1.4rem;
  }
  &__table {
    margin-top: 15px;
    border-collapse: collapse;
    th {
      @include set-border(1px, solid, rgba(51, 51, 51, 0.5));
      color: #fff;
      background-color: $color-blue;
      font-size: 1.4rem;
      text-align: left;
      padding: 0.3em 0.5em;
    }
  }
  &__txt {
    font-size: 1.4rem;
    text-align: center;
  }
}

/* 在庫照会画面 */
.item {
  &__head {
    margin-top: 15px;
    justify-content: space-between;
    align-items: center;
  }
  &__number {
    background-color: #bab9bb;
    color: #fff;
    font-size: 1.2rem;
    padding: 0.1em 1em;
    border-radius: 100vh;
  }
  &__table {
    margin-top: 15px;
    border-collapse: collapse;
    tr {
      &.out-of-stock {
        background-color: #fad2d3;
      }
    }
    th {
      @include set-border(1px, solid, rgba(51, 51, 51, 0.5));
      color: #fff;
      background-color: $color-blue;
      font-size: 1.4rem;
      text-align: left;
      padding: 0.3em 0.5em;
    }
    td {
      @include set-border(1px, solid, #a8c2d4);
      font-size: 1.2rem;
      padding: 0.5em;
    }
  }
  &__txt {
    font-size: 1.4rem;
    text-align: center;
  }
}
