@import "_basic";
@import "_mixin";

/* main wrap */
.main {
  padding-top: 50px;
}

/* rootページ */
.index {
  &__logo {
    width: 350px;
    margin: 0 auto;
  }
  &__btns {
    justify-content: center;
    margin-top: 50px;
    column-gap: 20px;
  }
  &__btn {
    font-size: 1.4rem;
    background-color: $color-blue;
    color: #fff;
    width: 150px;
    text-align: center;
    padding: 0.5em 0;
    border-radius: 5px;
    font-weight: bold;
    transition: all 0.3s;
    &:hover {
      opacity: 0.8;
    }
  }
}
